* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
 }
 body{
     border-radius:24px;
     background-color:honeydew;
     background-position: center;
     font-family:Arial, Helvetica, sans-serif ;
 }
 .wrapper{
     border-radius:24px;
     background-color: rgb(155, 111, 236);
     width: 500px;
     padding: 25px;
     margin: 25px auto 0;
 }
 .wrapper h2{
     background-color: rgb(55, 13, 155);
     color: lightslategrey;
     font-size: 24px;
     padding: 10px;
     margin-bottom: 20px;
     border:1px dotted darkturquoise ;
     text-align: center;
 }
 h4{
     padding-bottom: 5px;
     color: floralwhite;
 }
 .input-group{
     margin-bottom: 8px;
     width: 100px;
     display: flex;
     flex-direction: row;
     position: relative;
     padding: 5px 0;
     text-align: left;
 }
 .input-box{
     padding: 5px;
     margin: auto 0;
 }
 .input-box input[type]{
     background-color: rgb(233, 201, 221);
     border-radius: 20px;
 }
 .dob{
     padding: 2px;
     margin: 2px;
 }
 